* {
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
  margin: auto;
}

input {
  outline: none;
}

header {
  background-color: #E5F3F2;
  text-align: center;
  width: 100%;
}

.title {
  color: #00A79D;
  font-size: 2.5em;
  margin-bottom: 15px;
  padding-top: 20px;
}

span {
  color: #6D6E71;
}

.inputs {
  display: block;
  font-size: 1em;
  max-width: 500px;
  width: 50%;
/*  border: none;*/
  border: 0.05em solid #C1C2C4;
}

.title-input {
  margin-bottom: 5px;
}

.save-button {
  border-radius: 0;
  border: none;
  background-color: #00A79D;
  color: #FFFFFF;
  font-size: 1em;
  margin: 5px 0 10px 0;
  max-width: 500px;
  outline: none;
  width: 50%;
}

.save-button:hover {
  background-color: #045E55;
}

::placeholder {
  color: #C1C2C4;
}

.search {
  margin: 10px 0;
  text-align: center;

}

.search-input {
  font-size: 1em;
  max-width: 500px;
  width: 50%;
  right: 33%;
  border: 0.05em solid #C1C2C4
/*  border: none;*/
}

.card {
  border-bottom: 1px solid #d1d3d4;
  margin-top: 10px;
  max-width: 500px;
  position: relative;
  width: 50%;
}

.card-title {
  color: #6D6E71;
  display: inline-block;
  font-size: 1.2em;

}

.card-body {
  color: #939598;
  font-family: 'Open Sans', sans-serif;
  font-size: .75em;
  margin: 5px 0px;
}

.card-buttons {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0;
}

.delete-button {
  background-image: url('FEE-ideabox-icon-assets/delete.svg');
  height: 20px;
  position: absolute;
  right: 2px;
  top: 0px;
  width: 20px;
}

.delete-button:hover {
  background-image: url('FEE-ideabox-icon-assets/delete-hover.svg');
}

textarea {
  height: 25px;
  resize: none;
  outline: none;
  border: none;
/*  border-style: inset;
  border: .5px solid grey;*/
}

.up-vote {
  background-image: url('FEE-ideabox-icon-assets/upvote.svg');
  height: 20px;
  position: relative;
  top: 6px;
  width: 20px;
}

.up-vote:hover {
  background-image: url('FEE-ideabox-icon-assets/upvote-hover.svg');
}

.down-vote {
  background-image: url('FEE-ideabox-icon-assets/downvote.svg');
  height: 20px;
  margin: 0 7px;
  position: relative;
  top: 6px;
  width: 20px;
}

.down-vote:hover {
  background-image: url('FEE-ideabox-icon-assets/downvote-hover.svg');
}

.quality {
  color: #6D6E71;
  display: inline;
  font-size: .75em;
}

nav {
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {

.inputs {
  width: 80%;
  font-size: 1.2em;
}

.title-input {
  margin-bottom: 15px;
}

textarea {
  resize: none;
  outline: none;
  border: none;
}

.body-input {
  height: 120px;
  text: wrap;
  overflow-wrap: normal;
}

::placeholder {
  color: #C1C2C4;
  vertical-align: center;
}

.save-button {
  width: 80%;
  font-size: 1.2em;
  margin: 15px 0;
}

.search {
  width: 100%;
  height: 30px;
  margin: 10px 0;
}

.search-input {
  width: 80%;
  font-size: 1.2em;
}

.idea-list {
  bottom: 0;
  width: 100%;
  overflow: scroll;
  height: 300px;
}

.card {
  width: 80%;
}

}

